[submodule "deps/axi-chiplet-controller"]
	path = deps/axi-chiplet-controller
	url = https://git.soton.ac.uk/soclabs/chiplets/axi-chiplet-controller.git
[submodule "deps/tidelink-gpio-phy"]
	path = deps/tidelink-gpio-phy
	url = https://github.com/SoC-Labs/TideLink-Chiplet-GPIO-PHY.git
[submodule "deps/tidelink-phy"]
	path = deps/tidelink-phy
	url = https://github.com/SoC-Labs/TideLink-Chiplet-GPIO-PHY.git
	branch = main
